DirectoryIndex web.php

<IfModule mod_rewrite.c>
    RewriteEngine on
    
    RewriteCond %{SERVER_PORT} ^80$
    RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=307,END]

    
    RewriteRule ^api/?$ api.php?api
    RewriteRule ^api/(.*)$ api.php?api&endpoint=$1 [QSA,END]
    RewriteRule ^([a-zA-Z0-9]+)$ web.php?tool=$1 [QSA,END]
    
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ web.php [QSA,END]
</IfModule>
